includes:
    - ./vendor/worksome/coding-style/larastan.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkModelProperties: true
    parallel:
            processTimeout: 300.0

    ignoreErrors:
      -
        identifier: larastan.noEnvCallsOutsideOfConfig
        path: config
        reportUnmatched: false
